.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
.box_2 {
}
.box_3 {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.table_cell {
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.label {
  font-size:14px;
  text-align:left;
}
._图片_ {
}
.box_1 {
}
._复选框 {
  text-align:left;
}
._连接 {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
.ellipse {
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
.box_11 {
}
._形状 {
}
.line {
}
.arrow {
}
.image {
}
.shape {
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
.image1 {
  color:#000000;
}
.text_area {
  color:#000000;
  text-align:left;
}
.ellipse1 {
}
.icon {
}
.box_21 {
}
._24号字_最小说明文本，例如列表时间态、版权信息等） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
._默认样式 {
}
._默认样式1 {
}
._形状1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#4EDB7C;
}
.box_31 {
}
.sticky_3 {
  text-align:left;
}
.ellipse2 {
}
.link_button {
  color:#169BD5;
}
.flow_shape {
}
.marker {
  color:#FFFFFF;
}
.heading_1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.icon1 {
}
.paragraph {
  text-align:left;
}
.box_22 {
}
textarea, select, input, button { outline: none; }
